<%- include('layout/header'); -%>
<%- include('layout/navbar', {active: active}); -%>
<div class="container"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <h1>Simple Smart Home</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="jumbotron">
                    <form>
                        <h2>Led status</h2>
                        <h3 id="led-status"> </h3>
                        <div class="btn-group" role="group" aria-label="led-buttons">
                            <button type="button" disabled class="btn btn-danger" id="led-button-off" >Turn off</button>
                            <button type="button" disabled class="btn btn-success" id="led-button-on" >Turn on</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2>Leds</h2>
                <table>
                    <tr>
                        <th>Yellow Led</th>
                        <th>Red Led</th>
                        <th>Blue Led</th>
                    </tr>
                    <tr>
                        <td id="led-status-yellow"></td>
                        <td id="led-status-red"></td>
                        <td id="led-status-blue"></td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-warning" id="led-button-yellow">Yellow led</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" id="led-button-red">Red led</button>
                        </td>
                        <td>
                            <button class="btn btn-primary" id="led-button-blue">Blue led</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <script src="/static/script.js"></script>
</div>
<%- include('layout/footer'); -%>