<%- include('layout/header'); -%>
<%- include('layout/navbar', {active: active}); -%>
<div class="container"></div>
    <div class="row">
        <h1>Statistics</h1>
    </div>
</div>
<%- include('layout/footer'); -%>