<div class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item <%= active ==='home' ? 'active' : '' %>">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item <%= active ==='temperature' ? 'active' : '' %>">
                    <a href="/temperature" class="nav-link">Temperature</a>
                </li>
                <li class="nav-item <%= active ==='stats' ? 'active' : '' %>">
                    <a href="/statistics" class="nav-link">Statistics</a>
                </li>
            </ul>
        </div>
    </div>
</div>